In [22]:
#18 series
import numpy as np
import pandas as pd

In [23]:
s = pd.Series([1979,1980,1981,1982])
s
s.values
s.index

s= pd.Series([1979,1980,1981,1982,1983], index=['da','va','and','she','gem'])
s

s2= pd.Series(np.random.rand(10))
s2

0    0.606115
1    0.509293
2    0.012096
3    0.050116
4    0.908743
5    0.552878
6    0.140447
7    0.913691
8    0.061519
9    0.642810
dtype: float64

In [29]:
#19 dataframe
data = {
    'ciudades':['car','guad','hab','canc','guad'],
    'poblacion':[10000,5000,3000,1000,2000],
    'infectaos':[5000,2500,100,10,3]

}

df = pd.DataFrame(data)

df
df['ciudades']
df.ciudades

0     car
1    guad
2     hab
3    canc
4    guad
Name: ciudades, dtype: object

In [39]:
#20 operaciones con dataFrame
d = [np.random.randint(50,size=(10))]
df = pd.DataFrame(d)
df = pd.DataFrame(d).T
df

    0
0  33
1  49
2  13
3  14
4   9
5  40
6   2
7  11
8  18
9   1